@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #FEF7EB;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */

.area-menu {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(254, 247, 235, 0.95); 
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-conteudos {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 234px;
    height: 72px;
    margin-right: 40px;
}

.menu {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 30px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu li {
    margin-right: 30px;
}

.buscar {
  width: 350px;
  margin-top: 25px;
}

.busca-form {
  border: none;
  border-bottom: 1px solid #BA845D;
  padding: 8px;
  width: 270px;
  margin-bottom: 10px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}


   /* BOTAO BUSCAR */
  input[type="submit"] {
    background: url("../images/lupa.png") no-repeat center; 
    /*background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;*/
    background-size: contain; 
    width: 30px; 
    height: 30px; 
    border: none;
    cursor: pointer;
    text-indent: -9999px; 
    transition: transform 0.3s ease-out;
  }

  input[type="submit"]:hover {
    opacity: 0.8; 
    transform: translateY(-5px);
  }  

/* LINKS MENU */

.links {
    position: relative;
    color: #727673;
    text-decoration: none;
    overflow: hidden;
}

.links::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 6px;
    background-color: #BA845D;
    transition: width 0.4s; 
}

.links:hover::before {
    width: 100%;
}

.links:focus {
    color: #5C735E;
}

.links:active {
    color: #BA845D;
}

.links:visited {
    color: #5C735E;
}

/* ANIMAÇÕES

@keyframes efeito {
    0% { width: 100px; }
    25% { width: 300px; }
    50% { width: 200px;
      background-color: red; }
    75% { width: 300px;}
    100% { width: 100px;
      background-color:green;}
 }

 .links2 {
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: efeito;
    animation-iteration-count: initial;
    animation-duration: 2s;
    animation-delay: 5s;
}

*/


/* BANNER */

.area-banner {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Alinhando no centro horizontal */
    flex-direction: column; /* Para que as divs fiquem abaixo uma da outra */
}

  .container-banner {
    background-color: #3F5040;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

.imagem-com-transparencia {
    opacity: 0.5; 
}

  .conteudo-area-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #fff; 
    z-index: 1;
    width: 80%;
  }
  
  .conteudo-area-banner h1 {
    font-size: 80px;
    font-weight: 800;
    width: 600px;
    line-height: 1.0;
  }
  
  .conteudo-area-banner p {
    font-size: 18px;
    width: 500px;
    line-height: 1.6;
    margin-top: -30px;
  }
  
/* BANNER BOTÃO */

  .conteudo-area-banner button {
    padding: 20px 70px;
    font-size: 1em;
    background-color: #5C735E; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 30px;
    transition: transform 0.3s ease-out;
  }

  .conteudo-area-banner button:hover {
    transform: translateY(-5px);
  }

/*VIDEOS */

.videos-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 100px;
}

.video-galeria {
    display: flex; 
    flex-wrap: wrap; /*Quebra a linha assim que um dos flex itens não puder mais ser compactado.*/
    flex-direction: row; /*Os itens ficam em linha*/
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.video-item {
    width: 28%;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-out;
}

.video-item:hover {
    transform: translateY(-15px);
  }


.caixa {
    background-color: rgba(255, 255, 255, 0.7);
}

.video-player {
  width: 100%;
  height: 180px;
  position: relative;
}

.player-icon {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 50px; 
  height: 50px;
  background-image: url('../images/play.png'); 
  background-size: cover; 
}

.titulo-videos {
    display: block;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    color: #5C735E; 
    letter-spacing: -1px;
}

.texto-video {
    font-size: 14px;
    color: #394D3B;
    margin-top: -10px;
}

/*LEIA MAIS - VIDEOS*/

.leia-mais {
  display: inline-block;
  color: #BA845D; 
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.leia-mais span.arrow {
  display: none;
}

.leia-mais:hover span.arrow {
  display: inline-block;
}

.leia-mais span.arrow i {
  transition: transform 0.5s ease; 
}

.leia-mais:hover span.arrow i {
  transform: translateX(5px);
}


.area-bto {
    width: 100%;
    display: block;
    text-align: center;
  }


/*SOBRE */

.area-sobre{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteudo-sobre {
  width: 100%;
  height: 500px;
  background-color: #5C735E;
  position: relative;
  z-index: 1;
}

.left-sobre {
  background-color: #BA845D; 
  width: 30%; 
  position: absolute;
  left: 0; 
  z-index: 3; 
  height: 600px;
}

.right-sobre {
  width: 46%; 
  position: absolute;
  left: 30%; 
  z-index: 2; 
  height: 500px;
  padding-left: 14%;
  display: flex; 
  justify-content: center; /* Alinhando no centro horizontal */
  align-items: left;
  flex-direction: column; /* Para que as divs fiquem abaixo uma da outra */
}

.titu-sobre {
  color: #F1ECE3;
  font-size: 38px;
  width: 500px;
  float: left;
}

.right-sobre p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: -20px;
  width: 400px;
  color: #FFF;
  padding-right: 200px;
}

/* Perguntar porque o botão completou toda área e no banner não */
.right-sobre button {
  padding: 20px 70px;
  font-size: 1em;
  background-color: #BA845D; 
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
  transition: transform 0.3s ease-out;
  width: 230px; 
}

.right-sobre button:hover {
  transform: translateY(-5px);
}

.mochila-sobre {
  margin-top: 65px;
  position: absolute;
  left: 40%; 
  animation: rotateMochila 2s linear infinite alternate;
  transform-origin: top;
}

@keyframes rotateMochila {
  0% {
    transform: rotate(-5deg); /* Rotação inicial */
  }
  100% {
    transform: rotate(5deg); /* Rotação final */
  }
}

/*JUNTE-SE */

.juntese {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  background-color: #FFF;
}

.juntese-area {
  display: flex; 
  flex-wrap: wrap; /*Quebra a linha assim que um dos flex itens não puder mais ser compactado.*/
  flex-direction: row; /*Os itens ficam em linha*/
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.box-usuario {
  width: 450px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.img-usuario {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left; 
  margin-right: 20px; 
}

.nome-usuario {
  color: #3F5040;
  font-weight: 700;
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

.pais-usuario {
  color: #BA845D;
  font-weight: 500;
  font-size: 15px;
}

.texto-usuario {
  width: 100%;
  display: block;
  color: #394D3B;
  font-size: 14px;
  margin-top: 40px;

}

.juntese button {
  padding: 20px 70px;
  font-size: 1em;
  background-color: #5C735E; 
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 50px;
  transition: transform 0.3s ease-out;
}

.juntese button:hover {
  transform: translateY(-5px);
}

/*NEWSLETTER */

.newsletter {
  width: 100%;
  background-color: #F1ECE3;
  padding: 70px 0px;
}

.newsletter-area {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinhar verticalmente os conteúdos */
  width: 80%;
  margin: 0 auto;
  background-color: #BA845D;
  border-radius: 12px;
  padding: 70px 0px;
}

.newsletter-area-left {
  width: 45%;
  padding: 0 20px; 
}

.assinar {
  width: 50%;
 
}

.assina-form {
  padding: 15px 30px;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 50%;
}

.titu-newsletter {
  color: #F1ECE3;
  font-size: 48px;
  margin-left: 50px;
}

.texto-newsletter {
  color: #fff;
  font-size: 18px;
  margin-left: 50px;
  margin-top: -30px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  background-color: #FFF;
  padding: 30px;
  width: 80%;
  border-radius: 6px;
}

.newsletter-button {
  padding: 15px 40px;
  font-size: 1em;
  background-color: #5C735E; 
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.3s ease-out;
}

.newsletter-button:hover {
  transform: translateY(-5px);
}


/*FOOTER */

.rodape {
  width: 100%;
  background-color: #273728;
  padding: 70px 0px;
  height: 200px;
}

.rodape-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 70px;
}

.rodape-conteudos {
  width: 30%;
  height: 50px;
}

.img-rodape {
  width: 140px;
  height: 140px;
}

.titulo-footer {
  color: #BA845D;
  font-weight: 700;
  font-size: 16px;
}

.lista-footer {
  list-style: none;
  margin-left: -40px; 
}

.links-footer {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.rodape p {
  color: #FFF;
}

.area-sociais {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; 
}

.icone-sociais {
  width: 40px;
  margin-right: 15px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.icone-sociais:hover {
  transform: translateY(-5px);
}



  /* Validações 

  label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"]:checked + label {
    color: green;
}

input:disabled {
    background-color: #ddd;
    color: #777;
}

input:valid {
    border: 2px solid green;
}

input:invalid {
    border: 2px solid red;
}

input:required {
    border: 2px solid blue;
}
*/

/* TITULOS AREAS */

.titulos-areas {
    width: 100%;
    display: block;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.0;
    text-align: center;
    color: #BA845D; 
}

.justificar-esquerda  {
    text-align: left;
}


/* BOTÕES */

button {
    padding: 20px 70px;
    font-size: 1em;
    background-color: #5C735E; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.3s ease-out;
  }

 button:hover {
    transform: translateY(-5px);
  }
