body {
    margin: 0;
    padding: 0;
    background-color: #F1EDE3;
    font-family: 'Montserrat', sans-serif;
}

html { scroll-behavior: smooth; } /* DEIXAR NAVEGACAO MAIS FLUIDA */

html, body {
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M12 0C5.37 0 0 5.37 0 12s5.37 12 12 12 12-5.37 12-12S18.63 0 12 0zm0 22c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" fill="%23007bff" /%3E%3C/svg%3E'), auto;
}
